*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box ;
	box-sizing: border-box;
}

body{
	background:#f0f2f1;
	color: #ab7602;
	
	font-family:  'Open Sans', sans-serif;
}

a{
	text-decoration: none;
}

.contenedor{
	max-width: 1200px;
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta{
	margin: 20px;
}

.contendor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	-webkit-transform: perspective(600px) rotateY(180deg);
	-moz-transform: perspective(600px) rotateY(180deg);
	-ms-transform: perspective(600px) rotateY(180deg);
	-o-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);

	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover  figure img {
	/*filter: blur(5px);*/
}

figure{
	width:120px;
	height:220px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal ,
figure .posterior{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition:all ease .5s;
}
 figure .frontal{
	display: block;
}

 figure .posterior{
 	position:  absolute;
 	top: 0;
 	padding: 20px;
 	color: #fff;
 	transform: perspective(600px) rotateY(180deg);
 	backface-visibility: hidden;
 	overflow: auto;
 }

.contenedor_tarjeta:nth-child(1) figure .posterior {
	background: rgba(154,147,147,1);
	background: -moz-linear-gradient(top, rgba(154,147,147,1) 0%, rgba(154,147,147,1) 12%, rgba(154,147,147,1) 38%, rgba(213,12,23,1) 76%, rgba(213,12,23,1) 77%, rgba(213,12,23,1) 88%, rgba(213,12,23,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(154,147,147,1)), color-stop(12%, rgba(154,147,147,1)), color-stop(38%, rgba(154,147,147,1)), color-stop(76%, rgba(213,12,23,1)), color-stop(77%, rgba(213,12,23,1)), color-stop(88%, rgba(213,12,23,1)), color-stop(100%, rgba(213,12,23,1)));
	background: -webkit-linear-gradient(top, rgba(154,147,147,1) 0%, rgba(154,147,147,1) 12%, rgba(154,147,147,1) 38%, rgba(213,12,23,1) 76%, rgba(213,12,23,1) 77%, rgba(213,12,23,1) 88%, rgba(213,12,23,1) 100%);
	background: -o-linear-gradient(top, rgba(154,147,147,1) 0%, rgba(154,147,147,1) 12%, rgba(154,147,147,1) 38%, rgba(213,12,23,1) 76%, rgba(213,12,23,1) 77%, rgba(213,12,23,1) 88%, rgba(213,12,23,1) 100%);
	background: -ms-linear-gradient(top, rgba(154,147,147,1) 0%, rgba(154,147,147,1) 12%, rgba(154,147,147,1) 38%, rgba(213,12,23,1) 76%, rgba(213,12,23,1) 77%, rgba(213,12,23,1) 88%, rgba(213,12,23,1) 100%);
	background: linear-gradient(to bottom, rgba(154,147,147,1) 0%, rgba(154,147,147,1) 12%, rgba(154,147,147,1) 38%, rgba(213,12,23,1) 76%, rgba(213,12,23,1) 77%, rgba(213,12,23,1) 88%, rgba(213,12,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9393', endColorstr='#d50c17', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .posterior {
	background: rgba(147,29,25,1);
	background: -moz-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(147,29,25,1) 20%, rgba(147,29,25,1) 23%, rgba(239,218,202,1) 68%, rgba(154,112,90,1) 99%, rgba(154,112,90,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,29,25,1)), color-stop(12%, rgba(147,29,25,1)), color-stop(20%, rgba(147,29,25,1)), color-stop(23%, rgba(147,29,25,1)), color-stop(68%, rgba(239,218,202,1)), color-stop(99%, rgba(154,112,90,1)), color-stop(100%, rgba(154,112,90,1)));
	background: -webkit-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(147,29,25,1) 20%, rgba(147,29,25,1) 23%, rgba(239,218,202,1) 68%, rgba(154,112,90,1) 99%, rgba(154,112,90,1) 100%);
	background: -o-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(147,29,25,1) 20%, rgba(147,29,25,1) 23%, rgba(239,218,202,1) 68%, rgba(154,112,90,1) 99%, rgba(154,112,90,1) 100%);
	background: -ms-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(147,29,25,1) 20%, rgba(147,29,25,1) 23%, rgba(239,218,202,1) 68%, rgba(154,112,90,1) 99%, rgba(154,112,90,1) 100%);
	background: linear-gradient(to bottom, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(147,29,25,1) 20%, rgba(147,29,25,1) 23%, rgba(239,218,202,1) 68%, rgba(154,112,90,1) 99%, rgba(154,112,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#931d19', endColorstr='#9a705a', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .posterior {
	background: rgba(147,29,25,1);
	background: -moz-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(224,225,231,1) 38%, rgba(127,127,155,1) 68%, rgba(64,55,21,1) 88%, rgba(64,55,21,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,29,25,1)), color-stop(12%, rgba(147,29,25,1)), color-stop(38%, rgba(224,225,231,1)), color-stop(68%, rgba(127,127,155,1)), color-stop(88%, rgba(64,55,21,1)), color-stop(100%, rgba(64,55,21,1)));
	background: -webkit-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(224,225,231,1) 38%, rgba(127,127,155,1) 68%, rgba(64,55,21,1) 88%, rgba(64,55,21,1) 100%);
	background: -o-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(224,225,231,1) 38%, rgba(127,127,155,1) 68%, rgba(64,55,21,1) 88%, rgba(64,55,21,1) 100%);
	background: -ms-linear-gradient(top, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(224,225,231,1) 38%, rgba(127,127,155,1) 68%, rgba(64,55,21,1) 88%, rgba(64,55,21,1) 100%);
	background: linear-gradient(to bottom, rgba(147,29,25,1) 0%, rgba(147,29,25,1) 12%, rgba(224,225,231,1) 38%, rgba(127,127,155,1) 68%, rgba(64,55,21,1) 88%, rgba(64,55,21,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#931d19', endColorstr='#403715', GradientType=0 );
}

figure .posterior .titulo {
	color:#fff;
	font-weight: normal;
	margin-bottom: 12px;
	font-family: sans-serif;
	font-size: 12px;
}
 figure .posterior hr {
 	height: 2px;
 	background: #fff;
 	border: none;
 	opacity: .5;
 }

 figure .posterior p {
 	font-family: sans-serif;
 	line-height: 10px;
 	font-size: 9px;
 }
